body{
	width: 100%;
	height: calc(100%);
	/*background: #007bff;*/
}
main#main{
	width:100%;
	height: 100vh;
	background:white;
	display: flex;
        
}
#login-right{
	width:40%;
	height: calc(100%);
	background:white;
	display: flex;
	align-items: center;
}
#login-left{
	width:60%;
	height: calc(100%);
	background:#770c23;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login-right .card{
	margin: auto
}
.logo {
	margin: auto;
	font-size: 8rem;
	height: 29vh;
	width: 13vw;
	display: flex;
	align-items: center;
}
.logo img{
	height: 250px;
	width: 300px;
	margin: auto
}
.card{
    border:3px solid #770c23;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#show{
    margin-left:-40px;
    width:40px;
    height:38px;
    cursor:pointer;
    border:none;
    background:none;
}
#hide{
    margin-left:-40px;
    width:40px;
    height:38px;
    cursor:pointer;
    border:none;
    background:none;
}

.form-control:focus{
    border: 1px solid #770c23;
    box-shadow: none;
}

@media(max-width:1150px){
	#login-right{
		width:50%;
	}
	#login-left{
		width:50%;
	}

	.logo img{
		height: 150px;
		width: 250px;
		margin: auto;
		margin-left:-50px;
	}
}

@media(max-width:998px){
	#login-right{
		width:100%;
		background: #770c23;
	}
	#login-left{
		width:50%;
		display: none;
	}

	.logo img{
		height: 150px;
		width: 250px;
		margin: auto;
		margin-left:-50px;
	}
}